html {
    font-size: 100px;
    background: url(http://img.ivsky.com/img/tupian/pre/201405/25/dadieshi_dadieji-017.jpg) bottom center;
    background-size: cover;
}

#player{
    height: 100px;
    width: 100px;
    background: color #f0000f;
    position: fixed;
    top:20%;
    left: 80%;
    border-radius: 100%;
    background-image: url(./images/tomcat.ico);
    background-size: cover;
    background-repeat: no-repeat;
    animation: whileplay 5s linear infinite;
    animation-play-state: paused;
}

@keyframes whileplay{
    0%{
        transform: rotate(36deg);
    }
    10%{transform: rotate(72deg)}
    20%{transform: rotate(108deg)}
    30%{transform: rotate(144deg)}
    40%{transform: rotate(180deg)}
    50%{transform: rotate(216deg)}
    60%{transform: rotate(252deg)}
    70%{transform: rotate(288deg)}
    80%{transform: rotate(324deg)}
    90%{transform: rotate(360deg)}
    100%{transform: rotate(396deg)}
}
