/* 10rem 宽度 10rem 
1rem = 1/10 宽度
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 37.5px;
    font: sans-serif;
}
/* 
html, body {
    height: 100%;
}

body {
    font-size: 0;
}

.row {
    height: 100%;
}

.col-1 {
    display: inline-block;
    width: 1rem;
    height: 100%;
    background: black;
}

.col-1:nth-child(odd) {
    background: pink;
} */
    
html, body {
    height: 100%;
}

.html_content {
    height: 100%;
}

.item-section {
    background-color: #f12b4b;
    min-height: 100%;
}

.item-section_header img {
    width: 10rem;
}

ul, li {
    list-style: none;
}

.item-section ul {
    padding: 0.133333rem;
}

.flag {
    display: table;
    width: 100%;
    margin-bottom: 1px;
    background: #ffffff;
}

.flag .flag-item {
    display: table-cell;
    padding: .16rem 0;
    vertical-align: top;
    background: #fff;
}

.flag .flag-item.figure {

}

.flag .flag-item.figure img{
    /* max-width: 100%; */
    width: 2.4rem;
    height: 2.4rem;
}

.flag .flag-item.figcaption {
    padding: 0.16rem 0.2rem;
    position: relative;
}

.flag .flag-item .flag-title a{
    color: #333;
    line-height: 1.25;
    overflow: hidden;
    text-decoration: none;
}

.flag .flag-item .flag-price{
    padding: 0.15rem 0 0.2rem;
}

.flag .flag-item .flag-price span {
    background-color: #f32a4c;
    font-family : sans-serif;
    font-size : .293333rem;
    color : #ffffff;
    padding: 0.026667rem 0.08rem 0.0133333rem;
    border-radius: 0.026667rem;
    vertical-align: middle;
    font-weight: 700;
    margin-right: 0.066667rem;
    display: inline-block;
}

.flag .flag-item .flag-price strong {
    color: #d92e4b;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    margin-right: .16rem;
}

.flag .flag-item .flag-price small {
    color: #d03353;
    vertical-align: middle;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
}

.flag .flag-item .flag-status {
    color: #ff3600;
    font-size: 12px;
}

.flag .flag-item .flag-btn {
    background-color: #f5294c;
    text-align: center;
    font-size : 14px;
    color : #ffffff;
    height: .64rem;
    width: 2.133333rem;
    right: 0.2rem;
    line-height: .64rem;
    position: absolute;
    border-radius: .02667rem;
    bottom: .133333rem;
}